#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  entities: [%appDir%/UserBundle/Models]

webloader:
  css:
    default:
      files:
        - %appDir%/UserBundle/www/datepicker.css

  js:
    default:
      files:
        - %appDir%/UserBundle/www/datepicker.js

services:
  Authorizator: Flame\CMS\UserBundle\Security\Authorizator
  Authenticator: Flame\CMS\UserBundle\Security\Authenticator

  user: \Flame\CMS\UserBundle\Security\User

  - \Flame\CMS\UserBundle\Model\UserFacade
  - \Flame\CMS\UserBundle\Model\UserManager

factories:
  inForm:
    implement: \Flame\CMS\UserBundle\Forms\Sign\IInFormFactory

  userAddForm:
    implement: \Flame\CMS\UserBundle\Forms\IUserAddFormFactory

  editUserForm:
    create: \Flame\CMS\UserBundle\Forms\UserEditForm(%default%)
    implement: \Flame\CMS\UserBundle\Forms\IUserEditFormFactory
    parameters: [array default = []]

  userPasswordForm:
    implement: \Flame\CMS\UserBundle\Forms\IUserPasswordFormFactory